body{
    background-color: #333;
}

#game{
    margin:0 auto;
    width: 500px;
    height:400px;
    background-color: #666;
    position: relative;
    overflow: hidden;
}

.text{
    padding: 5px;
    height: 20px;
    /* 30px */
}

.space{
    height:125px;
    padding: 5px;
    /* 135px */
}

#bench-text{

}

#bench-space{

}

#fight-text{

}

#fight-space{

}

#fight-button-div{
    width: 100%;
    text-align: center;
    padding: 5px;
}

#fight-button{

}

.character-image{
    height:100px;
    width:100px;
    /* visibility: hidden; */
}

.character-div{
    position:absolute;
    top:0px;
    left:0px;
    height:125px;
    width:100px;
    color: #eee;
}