body{
    background-color: #333;
}

#game{
    margin:0 auto;
    width: 500px;
    background-color: #666;
    position: relative;
}

.text{
    padding: 5px;
}

.space{
    height:100px;
    padding: 5px;
}

#bench-text{

}

#bench-space{

}

#fight-text{

}

#fight-space{

}

#fight-button-div{
    width: 100%;
    text-align: center;
    padding: 5px;
}

#fight-button{

}

.character-image{
    position:absolute;
    top:0px;
    left:0px;
    height:100px;
    width:100px;
}